.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.card1 {
  width: 80%;
  height: 20rem;
  border-radius: 10px;
  background: #6c645c;
  display: flex;
  gap: 0px;
  padding: .4em;
}

.card1 div p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all .5s;
  background: #212121;
  border: 1px solid #ecb494;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('../assets/sword_focus_32x32.png'), default;
}

.card1 div:hover {
  flex: 2;
}

.card1 div p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #ecb494;
  letter-spacing: .1em;
}

.card1 div p:hover span {
  transform: rotate(0);
}