.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.cards {
  width: 80%;
  height: 20rem;
  border-radius: 10px;
  background: #6c645c;
  display: flex;
  gap: 10px;
  padding: .4em;
}

.cards div {
  background: white;
  border-style: solid;
  border-color: black;
  height: 100%;
  flex: 1;
  transition: all .5s;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url('../assets/sword_focus_32x32.png'), default;
  transform: rotate(-90deg);
}

.cards div:hover {
  flex: 3;
  transform: rotate(0);
}

.activity-image {
  height:100%;
  transform: rotate(90);
}

.cards > div > p {
  background: #212121;
}

.span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  color: #ecb494;
  letter-spacing: .1em;
}