.general {
  position: relative;
}

.card1 {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background: #ec9d6a;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .card1 p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card1 p:hover {
    flex: 4;
  }
  
  .card1 p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: white;
    letter-spacing: .1em;
  }
  
  .card1 p:hover span {
    transform: rotate(0);
  }