.container {
  display: flex;
  margin: 10rem;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  background: #fc5e5e;
  position: relative;
  margin: 10px auto;
  box-shadow: 0 30px 7px -5px rgba(0, 0, 0, 0.4);
}

.card:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  left: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-bottom: 25px solid #fc5e5e;
}

.card:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -25px;
  left: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-top: 25px solid #fc5e5e;
}

.picture {
  height: auto;
  width: 40%
}

.name {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 500;
}

.name:after {
  content: '';
  position: absolute;
  /* bottom: -15px; */
  top: 210px;
  left: 50%;
  margin-left: -15px;
  width: 40px;
  height: 1px;
  background: #000;
  z-index: 1;
}

.desc {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 21px;
}