body {
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/2wall.jpg');
  background-size: cover;
}

.nav {
  align-self: flex-start;
}

.period-choosed {
  font-size: 36px;
  margin-top: 16vh;
  margin-bottom: 4rem;
  color: var(--light);
  font-weight: 600;
}

.datep {
  color: var(--light);
  font-weight: 600;
}

.timer {
  margin-bottom: 2rem;
}

.btn-travel {
  justify-content: center;
  color: var(--light);
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--light);
  cursor: pointer;
  font-family: Karla, sans-serif;
  font-size: 25px;
  font-weight: 600;
  border-radius: 7px;
  border-width: 3px;
  height: 54px;
  line-height: 24px;
  transition: all .3s;
  margin-top: 4rem;
  padding-inline: 1.5rem;
}

.btn-travel:focus {
  color: var(--light);
}

.btn-travel:hover {
  border-color: var(--light);
  color: var(--light);
  fill: var(--light);
}

.btn-travel:active {
  border-color: var(--light);
  color: var(--light);
  fill: var(--light);
  transform: translateY(4px);
  transition: 100ms;
}