.stargate {
  background: #111
    url("https://res.cloudinary.com/shanomurphy/image/upload/v1520182770/stargate_tztoon.jpg")
    no-repeat center;
  background-size: cover;
  width: 177vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.stargate__portal {
  width: 77vh;
  height: 73vh;
  position: absolute;
  top: 18vh;
  left: 50vh;
  overflow: hidden;
}

video {
  width: 100%;
  border-radius: 50%;
  width: 77vh;
  height: 77vh;
  animation: portal-animation 15s infinite;
}
  
  @keyframes portal-animation {
    
    0% {
      filter: hue-rotate(0deg) contrast(3) saturate(1);
    }
    
    50% {
      filter: hue-rotate(45deg) contrast(1) saturate(6);
    }
    
    100% {
      filter: hue-rotate(0deg) contrast(3) saturate(1);
    }
    
  }
  
    .stargate__portal video {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    }
    .stargate__portal:hover video {
    -webkit-transform:scale(1.25); 
    transform:scale(1.25);
    }
